@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/nunito-sans-v6-latin-regular.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/open-sans-v21-latin-600.woff2) format("woff2");
}

body {
  padding: 50px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  background: #fdfcfa;
}

* {
  box-sizing: inherit;
}

#journal {
  font-family: "Nunito Sans";
}

section {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h4 {
  margin-bottom: 2.75em;
}

button {
  min-width: 48px;
  background-color: inherit;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  cursor: pointer;
  font: inherit;
  transition-property: color, background-color, box-shadow;
  transition: 0.5s ease;
}

.journal-entry {
  max-width: 250px;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#add:hover {
  background-color: rgba(3, 102, 214, 0.3);
}

#edit {
  box-shadow: #faea76 0px 0px 0px 3px;
  margin-left: 15px;
}

#edit:hover {
  background-color: #faea76;
}

#edit-form {
  background-color: #faea76;
}

.capitalize {
  text-transform: capitalize;
}

.form-container {
  width: 400px;
  padding: 0.75rem 1.5rem;
  /* background-color: blue; */
  background-color: rgba(3, 102, 214, 0.3);
  border-radius: 25px;
}

.form-group {
  margin-bottom: 1.5em;
  transition: all .3s;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 1em;
  color: #fefefe;
  display: inline-block;
  opacity: 1;
  transform: translateY(-1.65em);
  transform-origin: 0 0;
  transition: all .3s;
}

.form-control {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.22);
  border-radius: 0px;
  border-color: #fefefe;
  border-style: none none solid none;
  width: 100%;
  transition: all .5s;
  padding: 5px;
  z-index: 5;
}

.form-control::placeholder {
  color: transparent;
}

.form-control:focus {
  box-shadow: none;
  outline:none;
  border-color: orange;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
  transform: translateY(-3em) scale(0.8);
}

.form-group:focus-within {
  transform: scale(1.05);
}

.error {
  border-color: red;
}

.success {
  border-color: green;
}

small {
  position: relative;
  top: -20px;
}

.hide {
  /* visibility: hidden; */
  display:none;
}
